<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try Your Name</title>
</head>

<style>
    p{
        
    }
</style>

<body>
    <form action="/output" method="get">
        <input type="text">
        <button>Enter</button>

        <p><%= data %></p>
    </form>
</body>

</html>